<a href="https://colab.research.google.com/github/ObadaEzz/NLP/blob/main/Task7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re
import pandas as pd
import nltk
import spacy
import string
from collections import Counter
from nltk.corpus import stopwords

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/AI/Task7/sentiment_tweets3.csv')

In [ ]:
df.head()

,Index,message to examine,label (depression result)
0,106,just had a real good moment. i missssssssss hi...,0
1,217,is reading manga http://plurk.com/p/mzp1e,0
2,220,@comeagainjen http://twitpic.com/2y2lx - http:...,0
3,288,@lapcat Need to send 'em to my accountant tomo...,0
4,540,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0

In [ ]:
nltk.download('popular')

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [ ]:
df['word_count']=df['message to examine'].apply(lambda x:len(x.split(" ")))
df['word_count'].describe()

count    10314.000000
mean        16.066124
std         10.024623
min          1.000000
25%          9.000000
50%         14.000000
75%         21.000000
max         92.000000
Name: word_count, dtype: float64

In [ ]:
df['char_count']=df['message to examine'].apply(len)
df['char_count'].describe()

count    10314.000000
mean        92.616153
std         64.670905
min          1.000000
25%         48.000000
50%         78.000000
75%        119.000000
max        874.000000
Name: char_count, dtype: float64

In [ ]:
df

,Index,message to examine,label (depression result),word_count,char_count
0,106,just had a real good moment. i missssssssss hi...,0,12,57
1,217,is reading manga http://plurk.com/p/mzp1e,0,5,42
2,220,@comeagainjen http://twitpic.com/2y2lx - http:...,0,5,84
3,288,@lapcat Need to send 'em to my accountant tomo...,0,23,135
4,540,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0,6,45
...,...,...,...,...,...
10309,802309,No Depression by G Herbo is my mood from now o...,1,20,101
10310,802310,What do you do when depression succumbs the br...,1,18,97
10311,802311,Ketamine Nasal Spray Shows Promise Against Dep...,1,10,96
10312,802312,dont mistake a bad day with depression! everyo...,1,10,57
10313,802313,0,1,1,1

**Vocabulary**

In [ ]:
all_words=[word for tweet in df['message to examine'] for word in tweet.split(" ") ]

In [ ]:
vocab=Counter(all_words)

In [ ]:
print('Least Common')
vocab.most_common()[-10:]

Least Common

[('Bharat,u', 1),
 ('provoking', 1),
 ('sufferers', 1),
 ('sad;', 1),
 ('persistent', 1),
 ('nagging', 1),
 ('G', 1),
 ('Herbo', 1),
 ('succumbs', 1),
 ('https://cmun.it/4sjligkÂ\xa0', 1)]

In [ ]:
def test_clean_fn(fn,sample):
    print(sample,fn(sample),sep='\n\n')

**Text Cleaning**

In [ ]:
sample=df.loc[0,"message to examine"]
sample

'just had a real good moment. i missssssssss him so much, '

**Stop Words**

In [ ]:
stop_words= stopwords.words("english")
stop_words[15:30]

['yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself']

In [ ]:
stop_words=stopwords.words("english")
def remove_stop_words(text):
    return " ".join([word for word in text.split(" ") if word not in stop_words])

In [ ]:
test_clean_fn(remove_stop_words,sample)

just had a real good moment. i missssssssss him so much,

real good moment. missssssssss much,

**Remove Hashtags**

In [ ]:
hashtag_re=re.compile(pattern='#[\w\d]+')
def remove_hashtag(text:str)->str:
    return hashtag_re.sub(repl="",string=text)

In [ ]:
test_clean_fn(remove_hashtag,df.loc[6,"message to examine"])

@SilkCharm re: #nbn as someone already said, does fiber to the home mean we will all at least be regular now

@SilkCharm re:  as someone already said, does fiber to the home mean we will all at least be regular now

**Remove Mention**

In [ ]:
mention_re =re.compile('@\w+')
def remove_mention(text):
    return mention_re.sub(repl="",string=text)

test_clean_fn(remove_mention,df.loc[3,"message to examine"])

@lapcat Need to send 'em to my accountant tomorrow. Oddly, I wasn't even referring to my taxes. Those are supporting evidence, though.

 Need to send 'em to my accountant tomorrow. Oddly, I wasn't even referring to my taxes. Those are supporting evidence, though.

**Remove Punctuation Marks**

In [ ]:
punc_re = re.compile(r"""[!"#$%&\'()*+,-./:;<=>?@[\\\]^_`{|}~،؟…«“\":\"…”]""")

def remove_punctation(text:str)->str:
    return punc_re.sub(repl="",string=text)
test_clean_fn(remove_punctation,sample)

just had a real good moment. i missssssssss him so much,

just had a real good moment i missssssssss him so much

**Remove HTTP URLs**

In [ ]:
def remove_urls(text):
    return re.sub('((www\.[^\s]+)|(https?://[^\s]+))'," ",text)
test_clean_fn(remove_urls, df.loc[1,"message to examine"])

is reading manga  http://plurk.com/p/mzp1e

is reading manga

**Remove Numbers**

In [ ]:
number_re=re.compile('\d+')
def remove_numbers(text):
    return number_re.sub(repl='',string=text)

**Remove Multiple Whitespace**

In [ ]:
multiple_space_re =re.compile('\s{2,}')
def remove_multiple_whitespace(text):
    return multiple_space_re.sub(repl=' ',string=text)

**Clean All**

In [ ]:
def clean_all(text):
    text=remove_urls(text)
    text=remove_hashtag(text)
    text=remove_mention(text)
    text=remove_punctation(text)
    text=remove_numbers(text)
    text=remove_stop_words(text)
    text=remove_multiple_whitespace(text)
    text = text.lower().strip(text)
    
    return text

In [ ]:
df["clean_text"] = df["message to examine"].apply(clean_all)

In [ ]:
df["clean_text"]

0
1
2
3
4        lookt
         ...
10309        h
10310        w
10311        k
10312
10313
Name: clean_text, Length: 10314, dtype: object

**Text Normalisation**

In [ ]:
from nltk.stem.lancaster import LancasterStemmer
stemmer = nltk.LancasterStemmer()
stemmed_data = []
for sample in df["clean_text"]:
    words = sample.split(" ")
    stemmed_words = [stemmer.stem(word) for word in words]
    stemmed_data.append(" ".join(stemmed_words))

In [ ]:
print(df['clean_text'][0],"\n\n",stemmed_data[0])

In [ ]:
df['clean_stemmed']=stemmed_data

In [ ]:
df['clean_stemmed']

0
1
2
3
4        lookt
         ...
10309        h
10310        w
10311        k
10312
10313
Name: clean_stemmed, Length: 10314, dtype: object

In [ ]:
lm=nltk.WordNetLemmatizer()
Lemmatizer_data=[]
for sample in df['clean_text']:
    words=sample.split(' ')
    Lemmatizer_words=[lm.lemmatize(word) for word in words]
    Lemmatizer_data.append(" ".join(Lemmatizer_words))

In [ ]:
print(df['clean_text'][0],"\n\n",Lemmatizer_data[0])

In [ ]:
all_words=[word for tweet in Lemmatizer_data for word in tweet.split(" ")]
vocab=Counter(all_words)
counts=list(vocab.values())

In [ ]:
vocab.most_common(n=10)

[('', 6391),
 ('i', 377),
 ('b', 319),
 ('j', 313),
 ('w', 296),
 ('m', 245),
 ('f', 229),
 ('h', 192),
 ('d', 186),
 ('c', 151)]

In [ ]:
df.to_csv('data_tweets_clean',index=False)